.build {
    color: blue;
}

.command {
    margin: 10px;
    padding: 10px;
    color: #000;
    border: solid 1px #3c78b5;
    background-color: #D8E4F1;
}

.error {
    color: red;
    font-size: 120%;
}

.warning {
    color: orange;
    font-weight: bold
}

.debug {
    color: green;
}

.simple {
    color: black;
}

table {
    border-collapse: collapse;
    font-family: "Roboto Mono","Ubuntu Mono","SF Mono","Segoe UI Mono",Menlo,Courier,monospace;
    font-size: 100%;
}

.time {
    padding: 0 8px 0 4px;
    white-space: nowrap;
    color: gray;
    width: 1%;
}

div {
    padding-bottom: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
}
